* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

body, html {
  height: 100%;
  margin: 0;
}
html {
  font-size: 60%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
.header-group {
  .header {
    position: fixed;

    .logo {
      margin-right: auto;
    }

    .navbar a {
      font-size: 2rem;
      color: white;
    }

    .navbar #nav-close {
      font-size: 5rem;
      cursor: pointer;
      display: none;
    }

    .navbar a:hover {
      color: #aaa;
    }

    .icons a, .icons div {
      font-size: 2.5rem;
      margin-left: 2rem;
      cursor: pointer;
      color: #aaa;
    }

    .icons a:hover, .icons div:hover {
      color: #aaa;
    }
  }

  .header.active {
    background: black;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }

  .title {
    height: 40vh;
    padding-top: 10rem;

    button:hover {
      color: white;
    }
  }
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transform: translateY(-110%);
  transform: translateY(-110%);

  #close-search {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    cursor: pointer;
    color: white;
    font-size: 6rem;
  }

  #close-search:hover {
    color: #aaa;
  }

  form {
    width: 70rem;
    margin: 0 2rem;
    padding-bottom: 2rem;
    border-bottom: 0.2rem solid white;

    input {
      width: 100%;
      font-size: 2rem;
      color: white;
      text-transform: none;
      background: none;
      padding-right: 2rem;
    }

    label {
      font-size: 3rem;
      cursor: pointer;
      color: #fff;
    }

    label:hover {
      color: #aaa;
    }
  }
}

.search-form.active {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.group1{
  .left{
    background: url(../image/about-image/bg-about.png) no-repeat;
    height: 100vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .left2{
    background: url(../image/about-image/group2.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
    background-size: cover;
    background-position: bottom;
  }
}
.group2{
  .left3{
    background: url(../image/about-image/bg-about.png) no-repeat;
    height: 100vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg1{
    background: url(../image/about-image/bg1.png) no-repeat;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}
.group3{
  .right{
    background: url(../image/about-image/left2.jpg) no-repeat;
    height: 100vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .right2{
    background: url(../image/about-image/bg-about.png) no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }
}
.size{
  padding-top: 25%;
}

.size-text{
  font-size: 5rem;
}
.type-text{
  font-family: 'Grand Hotel', cursive;
}

footer {
  padding: 5rem 0;
  .title-footer{
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .content-title{
    font-size: 2rem;
  }
  .border-icon {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    i{
      font-size: 3rem;
      line-height: 4rem;
    }
  }
  ul li {
    font-size: 2rem;
    line-height: 4rem;

    a {
      text-decoration: none;
      color: white;
      font-weight: normal !important;
    }

    a:hover {
      color: #aaa;
      margin-left: 10px;
    }
  }
}
@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding-top: 7rem;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 50%;
  }
  .header {
    .navbar {
      position: fixed;
      top: 0;
      left: -110%;
      background: white;
      width: 35rem;
      height: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      a {
        margin: 1rem 0;
        font-size: 3rem !important;
        color: black !important;
      }
    }

    .navbar #nav-close {
      display: block;
      position: absolute;
      top: 1rem;
      right: 2rem;
    }

    .navbar.active {
      left: 0;
      -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
      box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    }
  }
  .title{
    height: 50rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 40%;
  }
}