@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  transition: .2s linear;
}

$green:#27ae60;
$black:#130f40;
$white:#fff;
$light-color:#666;
$light-bg:#f7f7f7;
$border:.1rem solid rgba(0,0,0,.2);
$box-shadow:0 1rem 1rem rgba(0,0,0,.05);
$hover-color: #aaa;
$bg-header: black;
$bg-search-form: rgba(0, 0, 0, 0.8);

html{
  font-size: 60%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8.5rem;
  a{
    text-decoration: none;
  }
}

.header-group {

  .header {
    position: fixed;

    .logo {
      margin-right: auto;
    }

    .navbar a {
      font-size: 2rem;
      color: white;
    }

    .navbar #nav-close {
      font-size: 5rem;
      cursor: pointer;
      display: none;
    }

    .navbar a:hover {
      color: $hover-color;
    }

    .icons a, .icons div {
      font-size: 2.5rem;
      margin-left: 2rem;
      cursor: pointer;
      color: white;
    }

    .icons a:hover, .icons div:hover {
      color: $hover-color;
    }
  }

  .header.active {
    background: $bg-header;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }

  .title {
    height: 80vh;
    padding-top: 10rem;

    button:hover {
      color: white;
    }
  }
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $bg-search-form;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transform: translateY(-110%);
  transform: translateY(-110%);

  #close-search {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    cursor: pointer;
    color: white;
    font-size: 6rem;
  }

  #close-search:hover {
    color: $hover-color;
  }

  form {
    width: 70rem;
    margin: 0 2rem;
    padding-bottom: 2rem;
    border-bottom: 0.2rem solid white;

    input {
      width: 100%;
      font-size: 2rem;
      color: white;
      text-transform: none;
      background: none;
      padding-right: 2rem;
    }

    label {
      font-size: 3rem;
      cursor: pointer;
      color: #fff;
    }

    label:hover {
      color: $hover-color;
    }
  }
}

.search-form.active {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.about{
  background: url(../image/product-image/about-bg.png) no-repeat;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  .container{
    padding: 20rem 0;
    .content{
      span{
        font-size: 6rem;
        font-family: 'Grand Hotel', cursive;
      }
      .title{
        font-size: 3rem;
      }
      .btn{
        font-size: calc(1.3rem + 0.5vw);
        padding: 1rem 4rem;
        color: white;
        background-color: gold;
        margin: 2rem 0;
      }
      .btn:hover{
        color: gold;
        background-color: white;
      }
      .icons{
        background-color: darkgray;
        height: 90%;
        .col-3{
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

.popular{
  .container{
    .heading{
      span{
        font-size: 6rem;
        font-family: 'Grand Hotel', cursive;
      }
      p{
        font-size: 3rem;
      }
    }
    .box{
      margin: 1rem 0;
      .border-box{
        padding: 1rem 0 ;
        border-radius: 1.5rem;
        background-color: #aaaaaa;
      }
      .content{
        p{
          font-size: 3rem;
          color:$black;
        }
        .stars{
          padding:1rem 0;
          font-size: 2rem;
          i{ color:gold; }
          span{ color:$light-color;}
        }

        .price{
          font-size: 2rem;
          color:$black;
          span{
            font-size: 1.5rem;
            color:$light-color;
            text-decoration: line-through;
          }
        }
        .btn{
          font-size: 2rem;
          padding: 1rem 1.5rem;
          background-color: gold;
          color: white;
        }
        .btn:hover{
          background-color: white;
          color: gold;
        }
        .fa-heart{
          font-size: 3rem;
          padding-top: 1rem;
          color: gold;
        }
        .fa-heart:hover{
          color: coral;
        }
      }
    }
  }
}

.banner{
  .row{
    .banner-col1,.banner-col2,.banner-col3{
      padding: 5rem 0;
    }
    .banner-col1{
      .content{
        background: url(../image/product-image/banner-1.png) no-repeat;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1rem;
      }
    }
    .banner-col2{
      .content{
        background: url(../image/product-image/banner-2.png) no-repeat;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1rem;
        border: 2px solid black;
      }
    }
    .banner-col3{
      .content{
        background: url(../image/product-image/banner-3.png) no-repeat;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1rem;
      }
    }
    .content{
      height: 40rem;
      margin:0 3rem;
      span{
        font-size: 4rem;
        font-family: 'Grand Hotel', cursive;
      }
      .btn{
        margin-top: 1.5rem;
        font-size: 2rem;
        color: white;
        background-color: gold;
      }
      .btn:hover{
        color: gold;
        background-color: white;
      }
    }
    .content:hover{
      transform: scale(1.1);
    }
  }
}

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap:1.5rem;
}

.menu{
  .heading{
    span{
      font-size: 8rem;
      font-family: 'Grand Hotel', cursive;
    }
  }
  .box-container{
    @include grid(30rem);

    .box{
      border-radius: .5rem;
      background: $light-bg;
      padding:2rem;
      display: flex;
      align-items: center;
      gap:1.5rem;

      &:hover{
        background: black;

        .content h3{
          color:$white;
        }

      }

      img{
        height:10rem;
      }

      .content{

        h3{
          font-size: 2rem;
          color:$black;
          padding-bottom: .5rem;
        }

        .price{
          font-size: 1.8rem;
          color:$green;
        }
      }
    }
  }
}

.order{
  .heading{
    span{
      font-size: 8rem;
      font-family: 'Grand Hotel', cursive;
    }
  }
  .row{
    .text-center{
      border-radius: 1rem;
      background-color: #666666;
      color: white;
    }
  }
}

footer{
  padding: 10rem 0;
  font-size: calc(1.3rem + 0.5vw);
  .span{
    margin-right: 10rem;
  }
  .border-icon {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  }

  ul li {
    margin-bottom: 0.7rem;
    a {
      text-decoration: none;
      color: white;
      font-weight: normal !important;
    }
    a:hover {
      color: $hover-color;
      margin-left: 10px;
    }
  }
}

@media (max-width:991px){

  html{
    font-size: 55%;
  }
  .header{
    padding:2rem;
  }
}

@media (max-width:768px){
  #menu-btn{
    display: inline-block;
  }

  .header {
    .navbar {
      position: fixed;
      top: 0;
      left: -110%;
      background: white;
      width: 35rem;
      height: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      a {
        margin: 1rem 0;
        font-size: 3rem !important;
        color: $bg-header !important;
      }
    }

    .navbar #nav-close {
      display: block;
      position: absolute;
      top: 1rem;
      right: 2rem;
    }

    .navbar.active {
      left: 0;
      -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
      box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    }
  }

  footer{
    padding: 5rem 0;
  }
}

@media (max-width:450px){
  html{
    font-size: 50%;
  }

  .shopping-cart-container .cart-total{
    .box{
      text-align: center;
      .btn{
        width: 100%;
      }
    }
  }

  .home .content{
    h3{
      font-size: 3rem;
    }
    p{
      font-size: 1.5rem;
    }
  }

  footer{
    .container{
      .row{
        .span{
          margin-right: 0 !important; ;
        }
      }
    }
  }
}